<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-3">Area - MATEMATICA</h2>
  

  <ng-container *ngFor="let course of courses">
    <hr class="my-4">
    <ng-container *ngIf="course.id % 2 == 1">
      <!-- Grid media -->
      <div class="media">

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Course image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" [src]="course.img" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Course Data -->
            <a href="#!" class="green-text">
              <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Matematica</h6>
            </a>
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{course.title}}</strong></h3>
            <!-- Excerpt -->
            <p>{{course.description}}</p>
            <!-- Post data -->
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
            <!-- Read more button -->
            <a mdbBtn color="success" mdbWavesEffect routerLink="/course">Ver Curso</a>

        </div>
        <!-- Grid column -->

      </div>
    </ng-container>

    <ng-container *ngIf="course.id % 2 == 0">
      <!-- Grid row -->
      <div class="media">

        <!-- Grid column -->
        <div class="col-lg-6">

        <!-- Course Data -->
          <a href="#!" class="green-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Matematica</h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3"><strong>{{course.title}}</strong></h3>
          <!-- Excerpt -->
          <p>{{course.description}}</p>
          <!-- Post data -->
          <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
          <!-- Read more button -->
          <a mdbBtn color="success" mdbWavesEffect>Ver Curso</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Course image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" [src]="course.img" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <!-- Grid column -->

      </div>

    </ng-container>
  </ng-container>

</section>