<ul class="list-unstyled list-inline ">
  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" mdbWavesEffect routerLink="/home">
      <mdb-icon fas icon="home">
      </mdb-icon>
    </a>
  </li>

  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" mdbWavesEffect routerLink="/areas">
      <mdb-icon fas icon="book" class="pr-1">
      </mdb-icon>Areas
    </a>
  </li>

  <li class="list-inline-item align-right">
    <div class="form-inline">
      <button mdbBtn size="md" color="default" class="my-0 waves-light" mdbWavesEffect type="submit">
        <mdb-icon fas icon="search" aria-hidden="true">
        </mdb-icon>
      </button>
      <div class="md-form">
        <input type="search" [(ngModel)]="searchText" placeholder="Buscar">
      </div>
    </div>
  </li>

</ul>

<section class="my-4">

  <div class="col-md-12 mb-4 text-default text-center">
    <h1 class="h1-reponsive text-uppercase font-weight-bold mb-0 pt-md-0 pt-0">
      <strong>
        <mdb-icon fas size="lg" icon="book-open" class="pr-2">
        </mdb-icon>
        {{areaName | slice:0:30}}
      </strong>
    </h1>
    <hr class="hr-black my-4">
    <h2 class="text-uppercase mb-4 black-text ">
      <strong>
        {{areaDescription | slice:0:100}}
      </strong>
    </h2>

  </div>

  <div class="background-container">
    <hr class="my-4">
    <div class="card-group ">
      <ng-container *ngFor="let course of courses | searchLocal: searchText, index as i">
        <ng-container *ngIf="i < elements">
          <div class="container-deck">
            <!-- <mdb-card>
              <div class="  waves-light " mdbWavesEffect>
                <mdb-card-img [src]="course.image">
                </mdb-card-img>
                <div class="mask rgba-white-slight"></div>
              </div>
              <mdb-card-body class="text-center">
                <mdb-card-text>
                  <a class="green-text ">
                    <h5 class="font-weight-bold mb-3 ">
                      <mdb-icon fas icon="book-open" class="pr-2">
                      </mdb-icon>
                      {{areaName | slice:0:30}}
                    </h5>
                  </a>
                  <h4 class="font-weight-bold mb-3 black-text">
                    <strong>
                      {{course.name | slice:0:30}}
                    </strong>
                  </h4>
                  <p>
                    {{course.description | slice:0:100}}
                  </p>
                  <a mdbBtn color="default" mdbWavesEffect
                    routerLink="/areas/{{course.areaId}}/courses/{{course.id}}/lessons">
                    <mdb-icon fas size="lg" icon="pen" class="pr-2">
                    </mdb-icon>
                    Ver Curso
                  </a>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card> -->
            <div class="card-container">
              <div class="container-img">
                <img [src]="course.image" alt="Card image cap" />
              </div>

              <div class="card-body-elements">

                <div class="card-title">
                  <p>{{course.name | slice:0:30}}</p>
                </div>

                <div class="card-text">
                  {{course.description | slice:0:200}}...
                </div>
                <div class="card-buttons">
                  <button *ngIf="userRole != null" type="button" class="card-button show" mdbBtn color="primary"
                    routerLink="/areas/{{course.areaId}}/courses/{{course.id}}/lessons" mdbWavesEffect>Ver
                    Curso</button>
                  <button *ngIf="userRole == null" type="button" class="card-button show" mdbBtn color="primary"
                    (click)="frame.show()" mdbWavesEffect>Ver Curso</button>
                </div>

              </div>
            </div>
            <hr class="my-4">
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!--     <div class="container-deck" *ngIf="areas">
      <div class="card-container" *ngFor="let e of areas">
        <div class="container-img">
          <img  [src]="e.image" alt="Card image cap"/>
        </div>

        <div class="card-body-elements">

          <div class="card-title">
            <p>{{e.name | slice:0:30}}</p>
          </div>

          <div class="card-text">
            {{e.description | slice:0:200}}...
          </div>
          <div class="card-buttons">
            <button type="button" class="card-button show" mdbBtn color="primary" routerLink="/mainAdmin/areaControl/{{e.id}}/courseControl" mdbWavesEffect>Ver Area</button>
            <button type="button" class="card-button delete" mdbBtn color="danger" (click)="deleteArea(e.id);basicModalDelete.show()" mdbWavesEffect>Eliminar</button>
            <button type="button" class="card-button editar" mdbBtn color="secondary" (click)="editArea(e.id,e.image,e.name,e.description); basicModal.show()" mdbWavesEffect>Editar</button>
          </div>

        </div>
      </div>
  </div> -->

    <ng-container *ngIf=" elements < totalCourses">
      <div class="d-flex justify-content-center" (click)=seeMore()>
        <a mdbBtn color="cyan" mdbWavesEffect>
          Ver Mas Cursos
        </a>
      </div>
    </ng-container>

  </div>

</section>



<!-- Modal -->
<div mdbModal #frame="mdbModal" class="modal fade top modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <img src="assets\images\logos\logo_2.png" width="150" />

          <p class="pt-3 mx-4">Por favor Registrese para ver las lecciones de este Curso

            <a type="button" mdbBtn size="md" color="success" class="waves-light" routerLink="/registerStudent"mdbWavesEffect>
              <mdb-icon fas icon="user" class="pr-1" ></mdb-icon>Registrarse
            </a>
            <a type="button" mdbBtn size="md" color="success" outline="true" class="waves-light" mdbWavesEffect
              data-dismiss="modal" (click)="frame.hide()">Aun No</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>