<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5" >Titulo de la Leccion</h2>

<!-- Grid row -->
<div class="media">

  <!-- Grid column -->
  <div class="col-md-10 col-lg-9 col-xl-8 mb-r">

    <!--Panel-->
    <div class="card card-body mb-3">
      <div class="media d-block d-md-flex">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0dTfNF6iMDo" allowfullscreen ></iframe>
          </div>
      </div>

      <div class="media-body text-center text-md-left ml-md-5 ">
        <h5 class="mt-0 font-weight-bold gray-text">Description</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
        congue felis in faucibus.

      </div>

    </div>
    <!--/.Panel-->
    

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-10 col-lg-9 col-xl-4">

    <!--Panel-->
    <div class="card mb-3">
      <h3 class="card-header green white-text text-uppercase text-center">Comentarios</h3>
      <!-- Grid column -->

    <div class="media d-block d-md-flex">
      
      <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
        congue felis in faucibus.

      </div>
      
    </div>
    <div class="media d-block d-md-flex">
      <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae officiis commodi
        nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum, itaque.
      </div>
    </div>
    <hr class="mb-4 mt-3">
    <div class="media d-block d-md-flex mt-2 shadow-textarea">
      <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <div class="form-group basic-textarea rounded-corners mb-md-0 mb-4">
          <textarea class="form-control z-depth-1" id="exampleFormControlTextarea3" rows="3" placeholder="Escribe un Comentario..."></textarea>
        </div>
      </div>
    </div>

  </div>
  <!-- Grid column -->

    <!--/.Panel-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</section>