Backend/PequeInnovaAPI/PequeInnovaAPI/obj/
Backend/PequeInnovaAPI/PequeInnovaAPI/bin/
ProyectoPequeInnova/Backend/PequeInnovaAPI/PequeInnovaAPI/Migrations/
/Backend/PequeInnovaAPI/.vs/PequeInnovaAPI/v16
Backend/PequeInnovaAPI/.vs/PequeInnovaAPI/v16/.suo
