.containerS{
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-left: 20px;
}
.DataCourse{
    width: 50%;
    height: 90px;
   // border: 2px solid rgb(51,181,229);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Name, .Description{
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
   // align-items: center;
    //justify-content: center;
    flex-direction: column;
}
.containerQ{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    //border: 2px solid red;
    //border-radius: 5px;
}

.container-right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-left{
    width: 55%;
    height: auto;
}

mdb-card{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
mdb-card-body{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
mdb-card-img{
    width: 60%;
    height: 60%;
}
td{
    width: auto;
    padding: 5px;
}

.newTd{
    padding: 5px;
    width: 150px;

}

.Sorts{
    padding: 5px;
    width: 50px;
}
.buttons-actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-editable{
    display: flex;
    flex-direction: column;

}

.card-body{
    padding:10px;

}

.table.table-bordered.table-responsive-md.table-striped.text-center{
    width: 100%;
    //overflow-x: hidden;

}

form{
   width: 90%;

}

.modify
{
    margin: 10px;
}

.buttons-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonsDown-OkCancel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid rgb(51,181,229);
    border-radius: 10px;
}

.buttonsDown{
    margin: 8px 15px;
}

.modal-footer{
    display: flex;
    justify-content: space-between !important;
}
.container-Questions{
    width: 65%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}
   // border:2px solid red;
.table-add.float-right.mb-3.mr-2 {
    margin: 25px 15px 15px 15px !important;
}
   // border:2px solid red;
.text-success{
    margin-left: 15px;
}
.card-element{
    width: 100%;
   // height: 300px;//a
    margin:10px 0px 10px 0px;
   // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.question-title{
   // height: 100px;//a

}
.question.rightside{
    width: 20%;
   // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.question.leftside{
    width: 80%;
  //  border: 2px solid red;
    
}

.container-form{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  //  border: 2px solid red;
}

.form-Q{
    width: 95%;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
   // border: 2px solid red;
   border-radius: 35px;
    flex-direction: column;
    width: 100%;
}

textarea{
   // border: 1px solid gray;
}

.card-content-container{
    width: 100%;
}

.microContainer{
    width: 100%;

}

.input-Field{
    width: 100%;

}

.md-textarea.md-textarea-auto.form-control{
    height: 65px;
    border: 1px solid gray;

}
/* .question-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

} */
/* .form-control.Description{
    height: 150px;
} */
@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }