<div class="container">
  <div class="userbox" *ngIf="assignment">
    <div class="user userphoto">
      <img class="photo rounded-circle"
        src="https://www.inventicons.com/uploads/iconset/1301/wm/512/teacher-male-67.png"
        alt="">
    </div>
    <div class="user userdata">
      <div class="u role">
        <p class="textUser">{{assignment.name | slice:0:30}} {{assignment.lastName | slice:0:30 }}</p>
      </div>
      <div class="u name">
        <p class="textUser">{{assignment.areaName | slice:0:30 }}</p>
      </div>
      <div class="user userfunctions">
        <button type="button" class="user-button teacher" [disabled]="assignment.areaName === 'Sin Area'" (click)="NavigateToMyCourses()" mdbBtn color="primary"
          mdbWavesEffect>Mis Cursos</button>
      </div>
    </div>
  </div>
</div>
<div class="areas">
  <button mdbBtn class="buttonAreas" type="button" routerLink="/areas" color="info" rounded="true" outline="true"
    mdbWavesEffect>Areas</button>
</div>

<div class="containerCarousel">

<!--   <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of areas">
      <mdb-card class="one-card">
        <img class="card-img" [src]="slide.image" alt="Card image cap" />
        <mdb-card-body>

          <mdb-card-title>
            <h4>{{slide.name}}</h4>
          </mdb-card-title>
          <mdb-card-text>
            {{slide.description}}
          </mdb-card-text>

          <a routerLink="/areas/{{slide.id}}/courses" mdbBtn color="primary" mdbWavesEffect>ver Area</a>
        </mdb-card-body>
      </mdb-card>
    </ng-template>
  </owl-carousel-o> -->

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of areas">

      <div class="card-container">
        <div class="container-img">
          <img [src]="slide.image" alt="Card image cap" />
        </div>

        <div class="card-body-elements">

          <div class="card-title">
            <p>{{slide.name | slice:0:30}}</p>
          </div>

          <div class="card-text">
            {{slide.description | slice:0:200}}...
          </div>
          <div class="card-buttons">
            <button type="button" class="card-button show" mdbBtn color="primary"
              routerLink="/areas/{{slide.id}}/courses" mdbWavesEffect>Ver Area</button>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>


</div>