<div class="rectangle3">
    <form>
    <h1 class="tituloRegistro">REGISTRARSE</h1>
    <label for="nombres">First name: </label>
    <input type="text" name ="nombres" placeholder="Nombre"><br>
    <label for="apellidos">Last name: </label>
    <input type="text" name ="apellidos"><br>
    <input type="text" name ="usuario"><br>
 
    
    <input type="text" name ="colegio">
    <input type="text" name ="curso">
    <input type="text" name ="fechaNacimiento">
    <input type="text" name ="contraseña">

    <input type="submit" value="Submit" class = "btn">
    </form>
</div>
