<div class="containerS">

  <div class="areas-navbar">
    <button class="button-navbar" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect> Areas</button>
    <button class="button-navbar" routerLink="/mainAdmin" mdbBtn type="button" color="info" rounded="true"
      mdbWavesEffect>Atras</button>
  </div>

  <div class="Add-Area">
    <button class="button-AddArea" mdbBtn type="button" color="default" rounded="true" (click)="CleanForm();basicModal.show()"
      mdbWavesEffect>+ Añadir Area</button>
  </div>

  <div class="container-deck" *ngIf="areas">
      <div class="card-container" *ngFor="let e of areas">
        <div class="container-img">
          <img  [src]="e.image" alt="Card image cap"/>
        </div>

        <div class="card-body-elements">

          <div class="card-title">
            <p>{{e.name | slice:0:30}}</p>
          </div>

          <div class="card-text">
            {{e.description | slice:0:200}}...
          </div>
          <div class="card-buttons">
            <button type="button" class="card-button show" mdbBtn color="primary" routerLink="/mainAdmin/areaControl/{{e.id}}/courseControl" mdbWavesEffect>Ver Area</button>
            <button type="button" class="card-button delete" mdbBtn color="danger" (click)="deleteArea(e.id);basicModalDelete.show()" mdbWavesEffect>Eliminar</button>
            <button type="button" class="card-button editar" mdbBtn color="secondary" (click)="editArea(e.id,e.image,e.name,e.description); basicModal.show()" mdbWavesEffect>Editar</button>
          </div>

        </div>
      </div>
  </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResetForm();basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title w-100" id="myModalLabel"> Area</h1>
      </div>
      <div class="modal-body form" *ngIf="form">
        <form class="modal-body-form" [formGroup]="form">
          <div class="modal-img">
            <img src="./../../../../assets/images/logos/logo_2.png" [srcset]="urlImage.value" class="modal-img"
              alt="Añada la Imagen" />
          </div>
          <div class="modal-container-input">
            <mat-form-field class="input" appearance="outline">
              <mat-label>Nombre del Area</mat-label>
              <input matInput placeholder="" [formControl]="areaName" required />
              <mat-error *ngIf="areaName.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="input" appearance="outline">
              <mat-label>Imagen </mat-label>
              <input matInput placeholder="" [formControl]="urlImage" required />
              <mat-error *ngIf="urlImage.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="input" appearance="outline">
              <mat-label>Descripcion del Area</mat-label>
              <input matInput placeholder="" [formControl]="descriptionArea" required />
              <mat-error *ngIf="descriptionArea.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="form">
        <button type="button" class="btnRegisterArea" mdbBtn color="secondary" *ngIf="!succesRequest" aria-label="Close"
          (click)="ResetForm();basicModal.hide()" mdbWavesEffect>Cancelar</button>
        <button type="button" class="btnRegisterArea" mdbBtn color="primary" *ngIf="!succesRequest" (click)="Save()"
          [disabled]="form.value.areaName.invalid || urlImage.invalid || descriptionArea.invalid"
          mdbWavesEffect>Guardar</button>
        <button type="button" class="btnRegisterArea" mdbBtn color="success" *ngIf="succesRequest" (click)="ResetForm();basicModal.hide()"
        [disabled]="form.value.areaName.invalid || urlImage.invalid || descriptionArea.invalid"
        mdbWavesEffect>{{Operation}} Correctamente</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #basicModalDelete="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModalDelete.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">¿Seguro que desea eliminar el Area?</h4>
      </div>
      <div class="modal-body">
        Si elimina el Area tambien se eliminaran todos los cursos que la componen.
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="ResetForm();basicModalDelete.hide()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="confirmDeleteArea();basicModalDelete.hide()" mdbWavesEffect>Eliminar</button>
      </div>
    </div>
  </div>
</div>