/* :host{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.containerS{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-deck{
    //margin: 20px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.areas-navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.button-navbar{
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck{
    display: flex;
   // flex-flow: column wrap;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

mdb-card{
    height: auto;
    width: 350px;
    flex-basis: auto;
    margin-bottom: 15px;
}

/* @media (min-width: 576px)
{
.card-deck.card {
     flex: 1 0 0%; 
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
} */

/* @media (max-width: 1200px)
{
    mdb-card{
        height: 400px;
        width: 400px;
        flex-basis: auto;
    }
} */