.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 65%;
    border: 25px solid rgb(0,153,204);
   // background-color: rgba(0,153,204,0.5);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px
}

.card-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.microContainer{
    width: 40vw;
}

.input-Field{
    width: 100%;
}