.background-container{
     background-image: url(src/assets/images/background/background2.jpg) ;
    background-attachment: fixed;
    background-position: center;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 300%;
    letter-spacing: 2px;
  }
  h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 180%;
  }
  h4{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 180%;
  }

  h5 {
    font-size: 150%; 
  }
  a{
    font-size: 120%;
  }