<div class="teachers-navbar"> 
    <button class="button-navbar" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Colegios</button>
    <button class="button-navbar" routerLink="/mainAdmin" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Atras</button>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            id="search"
            mdbInput
          />
          <label for="search">Buscar</label>
        </div>
      </div>
    </div>
    <table mdbTable class="z-depth-1">
      <thead>
        <tr>
          <th
            *ngFor="let head of headElements; let i = index"
            scope="col"
          >
            {{head}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of elements; let i = index">
          <th scope="row">{{el.id}}</th>
          <td class="red-text">{{el.Colegio}}</td>
          <td>{{el.Ciudad}}</td>
          <!-- <td>{{el.Functions}}</td> -->
          <td class="field-functions">
            <button mdbBtn color="" size="sm" (click)="basicModal1.show()" mdbWavesEffect type="button" class="button-color">Editar</button>
            <button mdbBtn color="danger" size="sm" (click)="basicModal2.show()" mdbWavesEffect type="button" class="">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>
 -->

 <!-- Este modal es para editar -->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar datos del maestro</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Este modal es para eliminar -->

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
            <span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Eliminar</h4>
        </div>
        <div class="modal-body">
            ¿Desea eliminar este maestro?
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cerrar</button>
          <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
        </div>
      </div>
    </div>
  </div>