<div class="teachers-navbar">

    <button class="button-navbar" routerLink="/mainAdmin" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>
      <mdb-icon fas icon="hand-point-left" class="pr-1"></mdb-icon>Atras
    </button>
    <button class="button-navbar" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>
      <mdb-icon fas icon="users" class="pr-1"></mdb-icon> Colegios
    </button>
</div>

<div class="container">

  <table mdbTable class="z-depth-1">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">
          {{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of schools; let i = index">
          <th scope="row">{{i+1}}</th>
          <td class="red-text">{{el.name}}</td>
          <td>{{el.city}}</td>

          <td class="field-functions">
            <button mdbBtn color="" size="sm" (click)="basicModal1.show();setDataEditSchool(el.id, el.name, el.city)"
              mdbWavesEffect type="button" class="button-color">Editar</button>
            <button mdbBtn color="danger" size="sm" (click)="basicModal2.show();setDataDeleteSchool(el.id, i)"
              mdbWavesEffect type="button" class="">Eliminar</button>
          </td>
      </tr>
    </tbody>
  </table>
  <button class="button-navbar"mdbBtn type="button" color="info" rounded="true"  (click)="basicModal0.show();" mdbWavesEffect>
    <mdb-icon fas icon="plus" class="pr-1"></mdb-icon>Nuevo Colegio</button>
</div>

<!-- Este modal es para Añadir -->
<div mdbModal #basicModal0="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal0.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Añadir datos de la Escuela</h4>
      </div>
      <div class="modal-body">
        <mat-label>Nombre: </mat-label>
        <input [(ngModel)]="newName" placeholder="{{newName}}" matInput-type="text">
        <br>
        <mat-label>Ciudad: </mat-label>
        <input [(ngModel)]="newCity" placeholder="{{newCity}}" matInput-type="text">

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal0.hide()"
          mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light"
          (click)="addSchool();basicModal0.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!-- Este modal es para editar -->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar datos de la Escuela</h4>
      </div>
      <div class="modal-body">
        <mat-label>Nombre: </mat-label>
        <input [(ngModel)]="name" placeholder="{{name}}" matInput-type="text">
        <br>
        <mat-label>Ciudad: </mat-label>
        <input [(ngModel)]="city" placeholder="{{city}}" matInput-type="text">

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal1.hide()"
          mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light"
          (click)="editSchool();basicModal1.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!-- Este modal es para eliminar -->

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
          <span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Eliminar</h4>
      </div>
      <div class="modal-body">
        ¿Desea eliminar esta Escuela?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal2.hide()"
          mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light"
          (click)="basicModal2.hide();deleteSchool()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>