.background-container{
    background-image: url(src/assets/images/background/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color: white;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 300%;
    letter-spacing: 2px;
  }
  h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 180%;
  }
  h4{
    font-size: 180%;
  }

  h5 {
    font-size: 150%; 
  }
  a{
    font-size: 120%;
  }
p{
    font-size: 120%; 
}

.align-right {
  float: right;
}

.white-bg {
  background-color: white;
}