<!--Navbar-->
<mdb-navbar SideClass="mb- navbar navbar-expand-lg navbar-dark info-color-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand class="logo"><img src="assets/images/logos/logo_1.png" width="50"></mdb-navbar-brand>
    
    <!-- Collapsible content -->
    <links>
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect>PequeInnova<span class="sr-only">(current)</span></a>
        </li>
    
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Areas <span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
            </div>
        </li>
    
        </ul>
        <!-- Links -->
    
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item active">
                <a class="btn btn-outline btn-md my-sm-0" mdbWavesEffect ><mdb-icon fas icon="user"></mdb-icon>  Registrarse</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline btn-md my-sm-0" mdbWavesEffect><mdb-icon fas icon="users"></mdb-icon>  Ingresar</a>
            </li>   
            
        </ul>
    </links>
    <br>
    <br>
   
    <!-- Collapsible content -->
    
</mdb-navbar>
<!--/.Navbar-->