
    <section class="my-4 col-lg-6">

        <div class="font-up-bold text-uppercase">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <a class="" href="#">
                    <h5 class="mr-3 mb-0"><strong>Home</strong></h5>
                </a>
                <a class="" href="#">
                    <h5 class="mr-3 mb-0"><strong>Area</strong></h5>
                </a>
                <ng-container *ngIf="areaId">
                <a class="" href="#">
                    <h5 class="mr-3 mb-0"><strong>Curso</strong></h5>
                </a>
                </ng-container>
                <h5 class="mr-3 mb-0"><strong>Leccion</strong></h5>
            
            </ol>
        </nav>

        </div>
    </section>
