<div class="containerS">

    <div class="areas-navbar"> 
        <button class="button-navbar" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Cursos del Area</button>
        <button class="button-navbar" routerLink="/mainAdmin" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Atras</button>
    </div>
    
    <div class="Add-Area"> 
        <button class="button-AddArea" mdbBtn type="button" color="default" rounded="true" mdbWavesEffect>+ Añadir Curso</button>
    </div>

    <div class="container-deck">
    
        <div class="card-deck">
            <!-- Card -->
            <mdb-card >
              <div class="view overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Titulo del Curso</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
          
                <a href="#" mdbBtn routerLink="/courseControl" color="primary" mdbWavesEffect>Editar</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card class="extension">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Titulo del Curso</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Titulo del Curso</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
              </mdb-card-body>
            </mdb-card>

            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Titulo del Curso</h4>
                  </mdb-card-title>
            
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
            
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
                </mdb-card-body>
              </mdb-card>

              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Titulo del Curso</h4>
                  </mdb-card-title>
            
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
            
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
                </mdb-card-body>
              </mdb-card>

              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Titulo del Curso</h4>
                  </mdb-card-title>
            
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
            
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
                </mdb-card-body>
              </mdb-card>

              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Titulo del Curso</h4>
                  </mdb-card-title>
            
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
            
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Editar</a>
                </mdb-card-body>
              </mdb-card>
          </div>
    </div>

</div>