<!--Carousel Wrapper-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <button mdbBtn type="button" color="info" size="sm" block="true" mdbWavesEffect routerLink="/areas" ><h1>Areas</h1></button>
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <ng-container *ngFor="let area of areas">
      <!--First slide-->
            <div class="carousel-item active">
        
                <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top"
                    [src]="area.image"
                    alt="Card image cap">
                    <div class="card-body">
                    <h4 class="card-title">{{area.Name}}</h4>
                    <p class="card-text">{{area.Description}}.</p>
                    <a class="btn btn-primary"  routerLink="/areas/{{area.id}}">Ver Mas</a>
                    </div>
                </div>
                </div>
        </div>
        </ng-container>
      <!--/.First slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->