<div class="teachers-navbar"> 
    <button class="button-navbar" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Maestros</button>
    <button class="button-navbar" routerLink="/mainAdmin" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Atras</button>
</div>



<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <br>
        <!-- <div class="md-form">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            id="search"
            mdbInput
          />
          <label for="search">Buscar</label>
        </div> -->
      </div>
    </div>
    <table mdbTable class="z-depth-1">
      <thead>
        <tr>
          <th
            *ngFor="let head of headElements; let i = index"
            scope="col"
          >
            {{head}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of teachers; let i = index">
          <th scope="row">{{i+1}}</th>
          <td class="red-text">{{el.name}} {{el.lastName}}</td>
          <td >{{el.degree}}</td>
          <td>
            <!-- <div *ngFor="let assignment of assignments" >
              <div *ngIf="assignment.userId==el.id">{{assignment.nameArea}}</div>
            </div> -->
            {{el.areaName}}
          </td>
          
          <!-- <td>{{el.Functions}}</td> -->
          <td class="field-functions">
            <button mdbBtn color="" size="sm" (click)="editTeacherModal.show()" mdbWavesEffect type="button" class="button-color">Editar</button>
            <button mdbBtn color="" size="sm" (click)="assignmentModal.show();updateAssignmentModal(el.id)" mdbWavesEffect type="button" class="button-color">Asignacion</button>
            <button mdbBtn color="danger" size="sm" (click)="deleteTeacherModal.show()" mdbWavesEffect type="button" class="">Eliminar</button>
          </td>

          
                    <!-- Este modal es para editar -->
                    <div mdbModal #editTeacherModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" #closebutton class="close pull-right" aria-label="Close" (click)="editTeacherModal.hide()">
                              <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Editar datos del maestro</h4>


                          </div>
                          <div class="modal-body">
                            <a routerLink="/editTeacher/{{el.id}}" mdbBtn color="primary" mdbWavesEffect>Editar Maestro</a>

                            <!-- <app-edit-teacher></app-edit-teacher> -->
                          </div>
                          <!-- <div class="modal-footer">
                            <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="editTeacherModal.hide()" mdbWavesEffect>Cerrar</button>
                            <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
                          </div> -->
                        </div>
                      </div>
                    </div>
          
                    <!-- Este modal es para eliminar -->
          
                    <div mdbModal #deleteTeacherModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" #closebutton class="close pull-right" aria-label="Close" (click)="deleteTeacherModal.hide()">
                                <span aria-hidden="true">x</span>
                              </button>
                              <h4 class="modal-title w-100" id="myModalLabel">Eliminar</h4>
                            </div>
                            <div class="modal-body">
                                ¿Desea eliminar este maestro?
                            </div>
                            <div class="modal-footer">
                              <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="deleteTeacherModal.hide()" mdbWavesEffect>Cerrar</button>
                              <button type="button" mdbBtn color="danger" class="relative waves-light" (click) ="deleteTeacher(el.id, i);deleteTeacherModal.hide();" mdbWavesEffect>Aceptar</button>
                            </div>
                          </div>
                        </div>
                      </div>
          

        </tr>
      </tbody>
    </table>
    <button class="button-navbar" id="crearMaestro" routerLink="/registerTeacher" mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Nuevo Maestro</button>
  </div>
<!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>
 -->

 <!-- Este modal es para editar -->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar datos del maestro</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Este modal es para eliminar -->

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
            <span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Eliminar</h4>
        </div>
        <div class="modal-body">
            ¿Desea eliminar este maestro?
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cerrar</button>
          <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
        </div>
      </div>
    </div>
  </div>

<div mdbModal #assignmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="assignmentModal.hide()">
          <span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Asignacion</h4>
      </div>
      <div class="modal-body">

        {{current_teacher}}


        <form [formGroup]="form" *ngIf="form" (ngSubmit)="changeAssignment">
          <mat-card class="card-container">
            <mat-card-header>
              <mat-card-title>Asignacion Area</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content-container">
                
              <div class="microContainer" *ngIf="assignments">
                <mat-form-field class="input-Field" appearance="outline"
                [hideRequiredMarker]="hideRequiredControlAssignment.value"
                [floatLabel]="floatLabelControlAssignment.value">
                <mat-select [formControl]="Assignment" required>
                    <mat-option *ngFor="let assignment of assignments" value="{{assignment.nameArea}}">{{assignment.nameArea}}</mat-option>
                </mat-select>
                <mat-label>Colegio</mat-label>
                </mat-form-field>
              </div>
              
            
            </mat-card-content>
            <!-- <mat-card-actions>
              <button type="button" (click)="FunctionEscape()" mdbBtn color="danger" mdbWavesEffect>Cancelar</button>
              <button [disabled]="form.invalid" type="submit" (click)="basicModal.show()" mdbBtn color="info"
                mdbWavesEffect>Aceptar</button>
            </mat-card-actions> -->
          </mat-card>
        </form>





      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="assignmentModal.hide()" mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
  </div>
</div>