<ul class="list-unstyled list-inline ">
  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" mdbWavesEffect routerLink = "/home"> <mdb-icon fas icon="home" ></mdb-icon></a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" mdbWavesEffect routerLink = "/areas" ><mdb-icon fas icon="book"></mdb-icon></a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" mdbWavesEffect routerLink = "/areas/{{areaId}}/courses" ><mdb-icon fas icon="book-open"></mdb-icon></a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn size="lg" color="default" class="  waves-light" disablemdbWavesEffect routerLink = "/areas/{{areaId}}/courses/{{courseId}}/lessons"><mdb-icon fas icon="pen" class="pr-1"></mdb-icon>{{courseName | slice:0:30}}</a>
  </li>
 
</ul>

<section class="my-4">
 
  <div class="col-md-12 mb-4 text-default text-center">
    <h1 class="h1-reponsive text-uppercase font-weight-bold mb-0 pt-md-0 pt-0">
      <strong><mdb-icon fas size= "lg" icon="check" class="pr-2"></mdb-icon>{{lessonTitle| slice:0:30}} </strong></h1>
    <hr class="hr-black my-4">
     <h2 class="text-uppercase mb-4 black-text "><strong>{{lessonDescription|slice:0:100}}</strong></h2>
 
  </div>

  <!-- Grid row -->
<div class = "background-container">
  <hr class="hr-black my-4">
<div class="media">  

    <!-- Grid column -->
    
    <div class="col-md-10 col-lg-9 col-xl-8 mb-r">
        <h4 class="card-header cyan white-text text-uppercase text-center">Preguntas</h4>
      <!--Panel-->
   
      <ng-container *ngFor = "let question of questions | shuffle">
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">

                  <h3>{{question.question | slice:0:100}}</h3>

                  <ng-container *ngFor= "let answer of answers, index as i">
                    <div *ngIf ="question.question == answer.question  ">
                      <ng-container *ngFor = "let answer2 of answers[i].answers | shuffle, index as j">
                        <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked{{answers[i].question}}{{answer2.item1}}{{i}}" 
                                name="{{answers[i].question}}" (click)="checkAnswer(question.question,answer2.item2)" mdbInput>
                                <label class="custom-control-label" for="defaultUnchecked{{answers[i].question}}{{answer2.item1}}{{i}}"><h5>{{answer2.item1}}</h5></label>
                                <label *ngIf="answer2.item2 != true">{{answer2.item2 == true ? "bien" : "mal"}}</label>

                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                
              </div>
            </div>
        </div>
      </ng-container>
            
     
      <!--/.Panel        routerLink="/areas/{{areaId}}/courses/{{courseId}}/lessons"-->
  
      <div class = "d-flex justify-content-center">
        <a mdbBtn position="text-center" color="default" (click)= "verifyTest()"mdbWavesEffect >
          <mdb-icon fas size= "lg" icon="check" class="pr-1"></mdb-icon>
          {{totalTrueQuestions}}
          Terminar</a>
      </div>
    </div>
    
    
    <!-- Grid column -->
  
  </div>

  <!-- Grid row -->
</div>
</section>