<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
    
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Peque-Innova</h5>
              <h5>Nos encontramos en:</h5>
              <h6>Sucre, Cochabamba, Santa Cruz & La Paz </h6>
    
            </div>
            <!-- Grid column -->

            
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
    
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
              </ul>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->

        <hr>
    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          
          <li class="list-inline-item">
            <!--Email-->    
            <a type="button" mdbBtn floating="true" size="lg" color="light-blue" class="  waves-light" mdbWavesEffect href="mailto:info@pequeinnova.com">info@pequeinnova.com  <mdb-icon fas icon="envelope"></mdb-icon></a>
          </li>
          <li class="list-inline-item">
            <!--Comments-->
                <a type="button" mdbBtn floating="true" size="lg" color="teal" class="  waves-light" mdbWavesEffect href="https://api.whatsapp.com/send?phone=+59172888428" target="_blank">+591 72 888 428  <mdb-icon fas icon="phone"></mdb-icon></a>
          </li>
           <li class="list-inline-item">
                <a type="button" mdbBtn floating="true" size="lg" color="blue" class="waves-light" mdbWavesEffect href="https://www.facebook.com/pequeinnova" target="_blank">Peque Innova  <mdb-icon fab icon="facebook-f"></mdb-icon></a>
            </li>
          <li class="list-inline-item">
                <a type="button" mdbBtn floating="true" size="lg" color="deep-orange" class="  waves-light" mdbWavesEffect href="https://www.instagram.com/pequeinnova/" target="_blank">PequeInnova  <mdb-icon fab icon="instagram"></mdb-icon></a>
          </li>
        </ul>
        <!-- Social buttons -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://www.ucbcba.edu.bo/" target="_blank" >UCB - Universidad Catolica Boliviana</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->