<footer class="page-footer font-small stylish-color-dark pt-4">

  <hr>

  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <!--Email-->    
      <a type="button" mdbBtn floating="true" size="lg" color="light-blue" class="  waves-light" mdbWavesEffect href="mailto:info@pequeinnova.com">info@pequeinnova.com  <mdb-icon fas icon="envelope"></mdb-icon></a>
    </li>
<!--     <li class="list-inline-item">
      <a type="button" mdbBtn floating="true" size="lg" color="teal" class="  waves-light" mdbWavesEffect href="https://api.whatsapp.com/send?phone=+59172888428" target="_blank">+591 72 888 428  <mdb-icon fas icon="phone"></mdb-icon></a>
    </li> -->
    <li class="list-inline-item">
      <!--Facebook-->
      <a type="button" mdbBtn floating="true" size="lg" color="blue" class="waves-light" mdbWavesEffect href="https://www.facebook.com/pequeinnova" target="_blank">Peque Innova  <mdb-icon fab icon="facebook-f"></mdb-icon></a>
    </li>
    <li class="list-inline-item">
      <!--Instagram-->
     <a type="button" mdbBtn floating="true" size="lg" color="deep-orange" class="  waves-light" mdbWavesEffect href="https://www.instagram.com/pequeinnova/" target="_blank">PequeInnova  <mdb-icon fab icon="instagram"></mdb-icon></a>
    </li>
  </ul>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://www.ucbcba.edu.bo/" target="_blank" >UCB - Universidad Catolica Boliviana</a>
  </div>

</footer>