<div class = "background-container">
    
<section class="text-center pb-3 my-5">
    <!--Section heading-->
   
    
    <div class = "col-md-12 d-flex ">
        <button mdbBtn type="button" color="info" size="lg" block="true" mdbWavesEffect routerLink="/areas" ><h1>Areas</h1></button>
    </div>


    <hr class="mb-4 mt-4">

    <ng-container *ngFor="let area of areas">
        <!--media row-->
        <div class="media justify-content-center" >

            <!--media column-->
            <div class=" rounded col-md-11 mb-2">
                <mdb-card style="background-image: url({{area.image}})">
                    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4 ">
                        <div class="col-md-12 mb-0  text-center">
                            <h2 class="h1-reponsive text-uppercase font-weight mb-0 pt-md-0 pt-0">
                                <strong><mdb-icon fas size= "lg" icon="book" class="pr-2"></mdb-icon>{{area.name}}</strong>
                            </h2>
                
                            <h4 class="text-uppercase py-4 ">
                                <strong>{{area.description}}</strong>
                            </h4>

                            <h5 mdbBtn color="green" size="lg" rounded="true" class="waves-light" mdbWavesEffect routerLink="/areas/{{area.id}}" >
                                <mdb-icon fas icon="book-open" class="left" ></mdb-icon> Ver Area
                            </h5>
                              
                        </div>
                    </div>
                </mdb-card>
            </div>
            <!--media column-->

        </div>
        <hr class="my-4">
        <!--media row-->
    </ng-container>

</section>
</div>