.background-container{
    background-image: url(src/assets/images/background/background2.jpg);
    background-attachment: fixed;
}


input {

    
    font-size: 150%;
}

h1 {
    font-size: 300%;
    letter-spacing: 2px;
    
  }
  h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    font-size: 250%;
    color: rgb(78, 184, 78);
  }

  h3{
    font-size: 200%;
   
  }
  h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 180%;
    color: rgb(212, 212, 212);
  }

  h5 {
    font-size: 130%; 
  }
  p{
    font-size: 120%;
  }
  a{
    font-size: 120%;
  }
